@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Inter&family=Roboto&display=swap');

body{
    background-color: rgb(228, 228, 228);
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.cabecalho{
    background-color: gray;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.menu li{
    display: inline;
    padding: 16px;
   
}

.menu li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
 }

 .menu li a:hover{
    color: black;
    font-size: 40px;
 }

 .fale-conosco{
    text-align: center;
 }

 
 .h2-sociais{
    text-align: center;
 }
 
 
 
 .sociais-in{
    width: 100px;
    height: 100px;
 }

 .sociais-git{
    width: 85px;
    height: 80px;
 }


 .sociais-insta{
    width: 85px;
    height: 80px;
 }

 .footer{
    display: flex;
    justify-content: center;
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
    min-height: 20rem;
    
 }



 